<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('shared-css'); -%>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 position-relative" style="height: 100vh">
              <div class="landing-page text-center">
                  <h1 class="logo">Reminder.ai</h1>
                  <p class="intro">Set up reminders that notify you evenly throughout its start and end date.</p>
                  <!-- Collapse buttons -->
                  <div class="tab-group">
                      <button type="button" class="btn btn-outline-primary waves-effect js-tab" data-target="#progressAlert">Progress Alerts</button>
                      <button type="button" class="btn btn-outline-primary waves-effect js-tab" data-target="#visualElements">Visual Elements</button>
                      <button type="button" class="btn btn-outline-primary waves-effect js-tab" data-target="#emailNotifications">Email Notifications</button>
                      <button type="button" class="btn btn-outline-primary waves-effect js-tab" data-target="#speechRecognition">Speech Recognition</button>
                  </div>
                  <!-- / Collapse buttons -->
          
                  <!-- Collapsible element -->
                  <div class="collapse feature-description" id="progressAlert">
                      <div class="mx-5 mb-3 mt-3 d-inline-block">
                          <p>With Reminder.ai, you can set time-progress notifications for reminders that has a start date and a due date.</p>
                          <p>This way, your due dates will never catch you by surprise.</p>
                      </div>
                  </div>
                  <div class="collapse feature-description" id="visualElements">
                      <div class="mx-5 mb-5 mt-3 d-inline-block">
                          <p>In Reminder.ai, reminders have different colors to indicate their time progress and urgency.</p>
                          <p class="red-status"> > 95% time progress </p>
                          <p class="yellow-status"> > 70% time progress </p>
                          <p class="white-status"> < 70% time progress </p>
                      </div>
                  </div>
                  <div class="collapse feature-description" id="emailNotifications">
                        <div class="mx-5 mb-3 mt-3 d-inline-block">
                            <p>Besides getting in-app notifications, you can set your notifications to send straight to your email.</p>
                        </div>
                  </div>
                  <div class="collapse feature-description" id="speechRecognition">
                        <div class="mx-5 mb-3 mt-3 d-inline-block">
                            <p>With Reminder.ai, you may set up reminders faster just by saying it - It will recognize what you're saying..</p>
                        </div>
                  </div>
                  <!-- / Collapsible element -->
          
                  <a href="/dashboard"><button type="button" class="btn btn-light-blue">Start now -></button></a>
              </div>
          </div>
          <div class="col-md-1"></div>
        </div>
    </div>
    <%- include('shared-js'); -%>
    <script>
      $('.collapse').collapse('hide');
      $('.js-tab').click(function(e){
        e.preventDefault();
        $('.collapse').collapse('hide');
        $($(this).data('target')).collapse('show');
      })
    </script>
  </body>
</html>
