body, html {
    min-height: 100%;
}

.bg {
    /* The image used */
    background-image:
        url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

    background-image:
        linear-gradient(
            rgb(255, 255, 255, 0.2),
            rgb(255, 255, 255, 0.2)
        ),
        url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reminder-container {
    overflow: auto;
}

.reminder {
    cursor: pointer;
}

.date {
    font-size: 13px;
}

.card-text {
    margin-bottom: 2px;
}

#reminderForm {
    width: 300px;
}

.close-reminder {
    margin-top: -10px;
}

.notification {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.notification-title {
    padding-left: 3px;
}

.notification-body {
    font-size: 14px;
}

#emailNotification ~ label, #editEmailNotification ~ label {
    padding-left: 5px;
    font-size: 14px;
}

#setAlert ~ label, #editSetAlert ~ label {
    font-size: 14px;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 #232323;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;

    color: white;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.chart-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .reminder-container {
        height: 100vh;
        padding-top: 80px;
    }
    .chart-container {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 768px) {
    .chart-container {
        margin-top: 80px;
    }
}

#h-hand, #m-hand, #s-hand{
    stroke:black;
    stroke-linecap:round;
}

#h-hand{
    stroke-width:6px;
}

#m-hand{
    stroke-width:3px;
}

#s-hand{
    stroke-width:1px;
}

#speechToTextModal {
    background-color: rgb(0,0,0, 0.7);
}

#speechToTextModal .modal-content {
    background-color: transparent;
    box-shadow: none;
}

#start-record-btn, #pause-record-btn, #progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-record-btn {
    box-sizing: initial;
    color: white;
    font-size: 28px;
    border: solid 2px;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

#start-record-btn:hover {
    padding: 15px;
}

#pause-record-btn {
    box-sizing: initial;
    color: white;
    font-size: 36px;
    border: solid 2px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    cursor: pointer;
    animation-name: record;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}

#progress-spinner {
    box-sizing: initial;
    margin-left: -20px;
    margin-top: -20px;
    color: white;
    font-size: 40px;
    animation: spin 0.8s linear infinite;
}

#note-textarea {
    font-size: 32px;
    color: white;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@keyframes record{
    0% {
        padding: 2px;
    }
    50% {
        padding: 5px;
    }
    100% {
        padding: 2px;
    }
}

@-webkit-keyframes record{
    0% {
        padding: 2px;
    }
    50% {
        padding: 5px;
    }
    100% {
        padding: 2px;
    }
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.record-btn-container {
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.microphone-btn {
    border-radius: 50%;
    width: 46px;
}

.speech-to-text-close {
    opacity: 1;
    top: 20px;
    right: 20px;
}