.reminder-container {
    width: 350px;
    height: 80vh;
    overflow: auto;
}

.date {
    font-size: 13px;
}

.card-text {
    margin-bottom: 2px;
}

#reminderForm {
    width: 300px;
}

.close-reminder {
    margin-top: -10px;
}

.notification {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
}